@import "libs/all";
@import "mixins/all";
@import "components/all";

.clearfix {
    @include clearfix;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ab1d2c;
    text-align: center;
}
h1 {
    font-size: 61px;
    @media only screen and (max-width : 1000px) {
        font-size: 40px;
    }
    @media only screen and (max-width : 730px) {
        font-size: 30px;
    }
    @media only screen and (max-width : 450px) {
        font-size: 20px;
    }
}
h2 {
    font-family: "OfficinaSansExtraBoldC", sans-serif;
    font-size: 48px;
    @media only screen and (max-width : 1000px) {
        font-size: 35px;
    }
    @media only screen and (max-width : 730px) {
        font-size: 25px;
    }
    @media only screen and (max-width : 450px) {
        font-size: 17px;
    }
}

html {
    color: #665951;
    font-family: "OfficinaSansBookC", sans-serif;
    font-size: 14px;
    min-width: 320px;
    background: #fff;
}

a {
    color: #ab1d2c;
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}
.wrapper-main {
    background: #f8f2e7 url("../img/main-background.jpg") no-repeat 50% 0;
}
.header {
    @include clearfix;
    max-width: 1170px;
    height: 136px;
    margin: 0 auto;
    @media only screen and (max-width : 530px) {
        & {
            height: auto;
        }
        .header-logo {
            float: none;
            text-align: center;
            margin: 0 auto;
            padding-top: 20px;
        }
        .header-right {
            float: none;
        }
        .header-user {
            float: none;
            text-align: center;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
        }
        .header-nav {
            text-align: center;
            margin: 20px 0;
            li {
                margin: 0 10px;
            }
        }
    }
}
.header-logo {
    float: left;
    margin: 0 0 0 16px;
    padding-top: 33px;
}

.header-right {
    float: right;
    margin: 0 15px 0 0;
}
.header-user {
    float: right;
    font-family: "PT Sans", sans-serif;
    padding: 16px 20px 12px;
    border-radius: 0 0 10px 10px;
    background: #ff8925;
    a {
        color: #fff;
    }
}

.header-user-sep {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 1px;
    height: 25px;
    margin: 0 15px;
    background: #ffc492;
}
.header-user-login {
    padding-left: 19px;
    background: url("../img/lock.png") no-repeat 0 2px;
}
.header-nav {
    clear: both;
    font-family: "OfficinaSansBoldC", sans-serif;
    font-size: 18px;
    margin: 30px 0 0;
    li {
        display: inline;
        margin: 0 0 0 25px;
    }
    a {
        color: #221f1f;
    }
}
.main-banner {
    position: relative;
    height: 843px;
    background: url("../img/main-banner.jpg") no-repeat 50% 0;
    @media only screen and (max-width : 1170px) {
        height: 685px;
        background-image: url("../img/main-banner-1300.jpg");
        .main-banner-start {
            position: absolute;
            top: 564px;
            left: 50%;
            width: 293px;
            height: 90px;
            margin-left: -10px;
        }
    }
    @media only screen and (max-width : 1000px) {
        height: 527px;
        background-image: url("../img/main-banner-1000.jpg");
        .main-banner-start {
            position: absolute;
            top: 434px;
            left: 50%;
            width: 226px;
            height: 70px;
            margin-left: -7px;
        }
    }
    @media only screen and (max-width : 730px) {
        height: 385px;
        background-image: url("../img/main-banner-730.jpg");
        .main-banner-start {
            position: absolute;
            top: 317px;
            left: 50%;
            width: 165px;
            height: 51px;
            margin-left: -6px;
        }
    }
    @media only screen and (max-width : 530px) {
        height: 279px;
        background-image: url("../img/main-banner-530.jpg");
        .main-banner-start {
            position: absolute;
            top: 230px;
            left: 50%;
            width: 120px;
            height: 37px;
            margin-left: -5px;
        }
    }
    @media only screen and (max-width : 450px) {
        height: 237px;
        background-image: url("../img/main-banner-450.jpg");
        .main-banner-start {
            position: absolute;
            top: 195px;
            left: 50%;
            width: 102px;
            height: 32px;
            margin-left: -3px;
        }
    }
}
.main-banner-start {
    position: absolute;
    top: 694px;
    left: 50%;
    text-indent: -9999px;
    width: 360px;
    height: 111px;
    margin-left: -12px;
}

.main-rules {
    position: relative;
    margin-top: -1px;
    padding: 74px 0 17px;
    background: #392820 url("../img/rules-bottom-bg.jpg") no-repeat 50% 100%;
    h2 {
        color: #fff;
    }
    @media only screen and (max-width : 1300px) {
        padding-top: 30px;
    }
    @media only screen and (max-width : 730px) {
        padding: 20px 0 30px;
    }
    @media only screen and (max-width : 450px) {
        padding-top: 10px;
    }
}
.main-rules-list {
    @include clearfix;
    margin: 39px 0 0;
    @media only screen and (min-width : 1300px) {
        margin: 39px 280px 0;
    }
}
.main-rules-item {
    float: left;
    text-align: center;
    width: 33.3%;
    background: url("../img/arrow-right.png") no-repeat 100% 23px;
    &:last-child {
        background: none;
    }
}

.main-rules-image {
    overflow: hidden;
    width: 73px;
    height: 64px;
    margin: 0 auto;
    background: url("../img/rules-icons.png");
    &.main-rules-image-2 {
        background-position: -73px 0;
    }
    &.main-rules-image-3 {
        background-position: -146px 0;
    }
}
.main-rules-number {
    color: #ff9325;
    font-family: "OfficinaSansBoldC", sans-serif;
    font-size: 37px;
    line-height: 55px;
    text-align: center;
    width: 54px;
    height: 54px;
    margin: 24px auto 15px;
    border-radius: 27px;
    background: #48352c;
}
.main-rules-text {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    @media only screen and (max-width : 730px) {
        font-size: 14px;
    }
}

.main-rules-dates {
    color: #ffae25;
    text-align: center;
    margin: 65px 0 40px;
    @media only screen and (max-width : 730px) {
        margin: 30px 0 20px;
    }
}
.main-rules-more {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 65px;
    text-align: center;
    width: 231px;
    height: 65px;
    margin: 0 auto;
    border-radius: 10px;
    background: #c51b21;
    @media only screen and (max-width : 730px) {
        font-size: 12px;
        line-height: 32px;
        width: 150px;
        height: 32px;
    }
}

.main-prizes {
    padding: 76px 0 132px;
}
.main-prizes-carousel {
    position: relative;
    max-width: 1019px;
    margin: 25px auto 0;
    padding: 0 80px;
    .main-prizes-carousel-content {
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    ul {
        position: relative;
        width: 20000em;
    }
    li {
        float: left;
        color: #392820;
        text-align: center;
        box-sizing: border-box;
        width: 340px;
        height: 326px;
        padding: 0 35px;
        border-right: solid 1px #f6e4ce;
    }
    .image {
        text-align: center;
        padding: 40px 0 0;
    }
    .title {
        font-family: "OfficinaSansBoldC", sans-serif;
        font-size: 32px;
        margin: 15px 0 0;
    }
    .text {
        font-size: 16px;
        line-height: 22px;
        margin: 20px 0 0;
    }
    .arrow {
        position: absolute;
        top: 99px;
        z-index: 100;
        width: 55px;
        height: 55px;
        background: url("../img/carousel-arrows.png");
        &.arrow-left {
            left: 10px;
        }
        &.arrow-right {
            right: 10px;
            background-position: -55px 0;
        }
    }
    @media only screen and (max-width : 730px) {
        li {
            width: 185px;
            height: 210px;
            padding: 0 10px;
        }
        .image {
            padding: 20px 0 0;
            img {
                width: 135px;
                height: auto;
            }
        }
        .title {
            font-size: 16px;
            margin: 5px 0 0;
        }
        .text {
            font-size: 12px;
            line-height: 16px;
            margin: 10px 0 0;
        }
    }
}

.main-prizes-buttons {
    text-align: center;
    margin: 60px 0 0;
    a {
        display: inline-block;
        color: #3f2e25;
        font-family: "OfficinaSansBoldC", sans-serif;
        font-size: 18px;
        line-height: 61px;
        text-align: center;
        width: 227px;
        height: 61px;
        margin: 0 13px;
        border: solid 2px #c51b21;
        border-radius: 10px;
        @media only screen and (max-width : 730px) {
            & {
                font-size: 14px;
                line-height: 30px;
                width: auto;
                height: auto;
                padding: 0 20px;
            }
        }
    }
}

.footer {
    color: #f9f3e9;
    height: 82px;
    background: #3a2820;
    @media only screen and (max-width : 730px) {
        & {
            height: auto;
            padding-bottom: 20px;
        }
        .footer-copy,
        .footer-social {
            float: none;
        }
        .footer-social {
            .icons {
                display: block;
            }
            .icon {
                margin: 10px 10px 0 0;
            }
        }
    }
}
.footer-content {
    @include clearfix;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.footer-copy {
    float: left;
    padding: 35px 0 0;
}
.footer-social {
    float: right;
    padding: 23px 0 0;
    .icon {
        display: inline-block;
        vertical-align: middle;
        width: 42px;
        height: 41px;
        margin-left: 17px;
        &.icon-vkontakte {
            background: url("../img/vkontakte.png");
        }
        &.icon-facebook {
            background: url("../img/facebook.png");
        }
    }
}
